.DS_Store
.cache
.gradle
.idea
.idea_modules
.project
.settings
.target
/bin
/out
/project/project
/project/target
/target
attic
build
logs
dist
__pycache__
tmp
*.bak
*.log
*.tmp
*.pyc
*.swp
RUNNING_PID
/node_modules
/bower_components
/curl/.token
/curl/.security.json
/hacks/
*.env
src/.DS_Store
tests/*
/checkpoints